### Terraform files
**/.*.lock.hcl
**/*.tfstate
**/*.tfstate.backup
**/.terraform/*
**/.*.tfstate.lock.info
**/*.tfvars
**/inventory
*/host.ini
*/inventory.yml
*/opensearch-cluster/opensearch-project
*/clickhouse-zookeeper-cluster/ansible-clickhouse-dp
*/clickhouse-zookeeper-cluster/ansible-clickhouse-deploy
*/postgresql-cluster/postgresql_cluster
*/freeipa/ansible-freeipa
*/kubespray/kubespray
/.idea/
**/terraform.log
**/acme-issuer.yaml
**/ClusterIssuer.yaml
**/*.iml
**/credentials
**/env.hcl
/terraform-k8s-stress/values-kube-prometheus-stack.yaml
**/.terragrunt-cache/2l-eRwH783sIU0sHdSlRbQcJDho/t9JEDCPcZ-DprqeDzKhVxJLQ4K8/
