yc_token            = ""
yc_cloud_id         = ""
yc_folder_id        = ""
yc_zone             = "ru-central1-b"
family_images_linux = "ubuntu-2004-lts"
ssh_user            = "ubuntu"
memory              = "2"           # Examples: 2, 4, 6, 8 and more
