yc_token          = ""
yc_cloud_id       = ""
yc_folder_id      = ""
jenkins_dns_name  = ""
jenkins_version   = "2.346.2-jdk11"
email_letsencrypt = ""
clientId          = "xxx-xxx.apps.googleusercontent.com"
clientSecret      = ""
google_domain     = ""
dns_domain        = ""
