version: "3.8"

services:
  freeipa:
    image: quay.io/freeipa/freeipa-server:fedora-37-4.10.1
    container_name: freeipa
    restart: unless-stopped
    hostname: {{freeipa_fqdn}}
    ports:
      - 123:123/udp
      - 389:389
      - 443:443
      - 464:464
      - 464:464/udp
      - 636:636
      - 80:80
      - 88:88
      - 88:88/udp
    dns:
      - ns1.yandexcloud.net
      - 1.1.1.1
    tty: true
    stdin_open: true
    environment:
      IPA_SERVER_HOSTNAME: {{freeipa_fqdn}}
      TZ: "Europe/Moscow"
    command:
      - --admin-password={{freeipa_password}}
      - --dirsrv-pin={{freeipa_password}}
      - --ds-password={{freeipa_password}}
      - --http-pin={{freeipa_password}}
      - --realm={{freeipa_domain}}
      - --unattended
    cap_add:
      - SYS_TIME
      - NET_ADMIN
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
      - ./data:/data
      - ./backup:/var/lib/ipa/backup
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv6.conf.lo.disable_ipv6=0
    security_opt:
      - "seccomp:unconfined"
    tmpfs:
    - /tmp
    - /run
